<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a href="/dashboard" class="brand">Idea Blog</a>
      <ul class="pull-right">
        <li>
          <button class="btn" ng-click="logout()">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <a class="pull-right btn" ng-href="/article/new">
    <i class="icon-plus"></i>
    New Article
  </a>
  <h2>Dashboard</h2>
  <ul style="list-style: none;">
    <li class="media" ng-repeat="article in articles | orderBy: 'publishedAt'">
      <a class="pull-right" ng-href="/article/{{article._id}}/edit">
        <i class="icon-pencil"></i>
        Edit
      </a>
      <a ng-href="/{{article.author}}/{{article.slug}}">{{article.title}}</a>
      <small>Published by {{article.author}} on {{article.publishedAt | date}}</small>
      <div ng-bind-html-unsafe="article.body | leader"></div>
    </li>
  </ul>
</div>