<!-- I am adding the login dialog here because I am not sure where it goes exactly -->

<div class="modal-header">
  <h2>Login</h2>
</div>
<div class="modal-body">
  <form>
    <div class="control-group">
      <label class="control-label">Username</label>
      <div class="controls">
        <input type="text" ng-model="user.name">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Password</label>
      <div class="controls">
        <input type="password" ng-model="user.password">
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="login(user)">Login</button>
</div>